[submodule "thirdparty/SQLiteCpp"]
	path = Core/thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "Server/thirdparty/mongoose-cpp"]
	path = Server/thirdparty/mongoose-cpp
	url = git@github.com:Gregwar/mongoose-cpp.git
