[submodule "thirdparty/SQLiteCpp"]
	path = Core/thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "Server/thirdparty/jsoncpp"]
	path = Server/thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "Server/thirdparty/mongoose-cpp"]
	path = Server/thirdparty/mongoose-cpp
	url = https://github.com/bacox/mongoose-cpp.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
